
#fexrow{
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  #summarybox{
      height: 40vh;
      overflow-y: auto;
  }



div.pledgescroll {
    width: 600px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }
  
  
  div.testingscrollproject {
    height: 500px;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }


 
 .summary-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    min-height: 3.5em;
    padding: 0 10px;
    /* position:relative; */
 }
 
 .archived-item{
    opacity: 0.7
  }
 
 
  img.item-small{
     width: 50px;
    height: 100%;
    /* height: 50px; */
    object-fit: cover;
    /* margin: 0 10px; */
  }
    

div#summaryitemcontainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
}


#summaryattributeselect{
  font-size: 0.8em;
  text-transform: uppercase ;
  font-weight: bolder;
  padding-left: 2px;
  padding-right: 2px;
}


#summaryitemvalue{
  font-size: 0.8em;
}


#summartytitle{
  font-size: 0.8em;
  text-transform: uppercase ;
}

  


  @media only screen and (max-width: 450px) {
    #summaryattributeselect{
      font-size: 0.6em;
      text-transform: uppercase ;
      font-weight: bolder;
      padding-left: 1px;
      padding-right: 1px;
    }
    
    
    #summaryitemvalue{
      font-size: 0.6em;
    }
    
    
    #summartytitle{
      font-size: 0.6em;
      text-transform: uppercase ;
    }
    
      
}