.ncformlogo {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-top: 5px;
}

#ncformlogoimage {
    height: 40%;
    width: 40%;
  }

#newcollectionheadertitle {
    font-family: "Roboto", sans-serif;
    color: #004aad;
    text-align: center;
    margin: 0;
    padding-top: 5%;
}

.newcollectiontxt {
    color: #7D8072;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0;
    padding-bottom: 5%;
}

.newcollectionform{
    max-width: 700px;
    min-width: 300px;
    max-height: 900px;
    width: 100%;
    margin: 0px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
  }
  
.ncfa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    max-width: 100%;
  }

.at {
    padding-bottom: 2%;
    color: #004aad;
    width: 80%;
    text-align: center;
}

.ncfa textarea {
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-family: "Roboto", sans-serif;
  color: #7D8072;
  text-align: center;
  padding-bottom: 0.5%;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.ncfa input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(46, 44, 56, 0.7);
  outline: none;
}

.newcollectionbutton {
  padding: 5px 10px;
  background: #b3b7a4;
  border-radius: 25px;
  color: white;
  border: none;
}

div.ncbuttonwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

div.ncradiowrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: #7D8072;
}

textarea {
  outline: none;
  resize: none;
  width: 80%;
}


@media only screen and (max-width: 1450px) {
    #ncformlogoimage {
        height: 20%;
        width: 20%;
    }
    #newcollectionheadertitle {
        font-size: 1.8rem;
    }
    .newcollectiontxt {
        font-size: 1.0rem;
        padding-bottom: 0.5%;
    }
    .at {
        font-size: 1.0rem;
    }
    .ncfa {
        padding-top: 1%;
    }
    .ncfa textarea {
        font-size: 1.0rem;
    }
    div.ncradiowrapper {
        font-size: 1.0rem;
    }
    .newcollectionbutton {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    #newcollectionheadertitle {
        font-size: 1.5rem;
    }
    .newcollectiontxt {
        font-size: 1.3rem;
    }
    .at {
        font-size: 1.3rem;
    }
    .ncfa {
        padding-top: 2%;
    }
    .ncfa textarea {
        font-size: 1.3rem;
    }
    div.ncradiowrapper {
        font-size: 1.3rem;
    }
    .newcollectionbutton {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    #newcollectionheadertitle {
        font-size: 1.3rem;
    }
    .newcollectiontxt {
        font-size: 0.8rem;
    }
    .at {
        font-size: 0.8rem;
    }
    .ncfa textarea {
        font-size: 0.8rem;
    }
    div.ncradiowrapper {
        font-size: 0.8rem;
    }
    .newcollectionbutton {
        font-size: 18px;
    }
}