
  #headerTitle{
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 1.5rem 0;
    margin: 0;
    font-size: rem;
  }
  


  .button{
    padding: 5px 10px;
    background: #373a47;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    border: none;
  }
  

  .App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}

.App-information{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}



.App button:not(.exitButton, .editbutton) {
  padding: 5px 10px;
  background: #373a47;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  border: none;
}


.App button:hover{
  opacity: 0.7;
}

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
}

.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}

.modalInner {
  background: white;
  width: 900px;
  max-width: calc(100% - 50px);
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: black;
  text-align: left;
}

.modalText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.modalText p {
  line-height: 180%;
}

.modalText button {
  display: block;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.exitButton {
  padding: 15px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  text-align: center;
  color: black;
}

button.exitButton{
  align-items: center;
}

.swiper-container {
  width: 95%;
}

.swiper-pagination {
  bottom: 0;
  padding-bottom: 10px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}


.CollectionInformationContainer{ display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}


.item-container{
  display: flex;
  flex-direction: column;
  height: 90vh;
  border: #373a47;
  border-style: dashed;
}


.buttonblue {
  color: white;
  background: #4C8FFB;
  border: 1px #3079ED solid;
  box-shadow: inset 0 1px 0 #80B0FB;
  margin: 4px;
}

.buttonblue:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

.buttonblue:active {
  box-shadow: inset 0 2px 5px #2370FE;   
}

@media all and (max-width:30em){
  .buttonblue{
  display:block;
  margin:0.2em auto;
  }
}




.buttoncontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


#projectlistcenter{
  display: flex;
  flex-direction: column;
  width: 95%;
}


