@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

html {
  font-size: 100%;
}

.suformlogo {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-top: 5px;
}

.signupform {
  max-width: 700px;
  min-width: 300px;
  max-height: 900px;
  width: 50%;
  height: 60%;
  margin: 0px auto;
  background-color: #ffffff;
  border-radius: 25px;
}

#signupheadertitle {
    font-family: "Roboto", sans-serif;
    color: #004aad;
    text-align: center;
    padding-top: 3%;
    margin-top: 0px;
    margin-right: 3%;
    margin-bottom: 0px;
    margin-left: 3%;
}


.signupform{
    max-width: 800px;
    min-width: 300px;
    max-height: 900px;
    width: 50%;
    margin: 0px auto;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
  }
  
.sufa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    max-width: 100%;
  }

.atsu {
    padding-bottom: 2%;
    color: #004aad;
    width: 80%;
    text-align: center;
}

.sufa input {
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-family: "Roboto", sans-serif;
  color: #7D8072;
  text-align: center;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.sufa textarea {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-family: "Roboto", sans-serif;
    color: #7D8072;
    text-align: center;
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;
  }


.sufa input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(46, 44, 56, 0.7);
  outline: none;
}

.atsublock textarea {
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;
}

.subutton {
  padding: 5px 10px;
  background: #b3b7a4;
  border: none;
  justify-content: center;
  border-radius: 0.5rem;
  width: 60%;
  height: 40px;
  font-size: 1.1rem;
  color: white;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
  margin: 20px;
  min-width: 13rem;
}

#subuttonwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}



@media only screen and (max-width: 1450px) {
    #suformlogoimage {
        height: 30%;
        width: 30%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    #signupheadertitle {
        font-size: 2.0rem;
        padding-bottom: 0%;
    }
    .atsu {
        font-size: 1.0rem;
        padding-bottom: 3%;
    }
    .sufa textarea {
        font-size: 1.0rem;
        padding-bottom: 0.5%;
    }
    .subutton {
        font-size: 20px;
        width: 35%;
    }
}

@media only screen and (max-width: 800px) {
    #suformlogoimage {
        height: 50%;
        width: 50%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #signupheadertitle {
        font-size: 1.8rem;
        padding-bottom: 10%;
    }
    .atsu {
        font-size: 1.5rem;
        padding-bottom: 5%;
    }
    .sufa textarea {
        font-size: 1.5rem;
        padding-bottom: 0.5%;
    }
    .subutton {
        font-size: 20px;
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    #suformlogoimage {
        height: 40%;
        width: 40%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #signupheadertitle {
        font-size: 1.5rem;
        padding-bottom: 2%;
    }
    .atsu {
        font-size: 0.8rem;
        padding-bottom: 5%;
    }

    .sufa textarea {
        font-size: 0.8rem;
    }
    .subutton {
        font-size: 18px;
        width: 70%;
        height: 30px;
    }
}

#errordiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    color: darkred;
  }
  

/* .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  max-width: 100%;
  color: #004aad;
}

.row input {
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-size: 1.1rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(46, 44, 56, 0.7);
  outline: none;
}

.row input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.row label {
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187, 187, 187, 0.9);
}

#button {
  border-radius: 25px;
  width: 60%;
  height: 40px;
  font-size: 1.1rem;
  color: white;
  font-weight: 700;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgb(46, 44, 56, 0.7) 0%,
    rgb(169, 168, 154) 100%
  );
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  margin: 20px;
}

#button:hover {
  opacity: 0.8;
} */


