.App {
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.loadingpage {
   height: 70vw;
   width: 100vw;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: -70px;
}
.page-wrapper {
   /* margin-top: 1rem; */
   margin-bottom: 2.5rem;
}

@media only screen and (max-width: 500px) {
  #project-list {
    grid-template-columns: 90%;
  }
}

@media only screen and (max-width: 800px) {
  #project-list {
    grid-template-columns: 47% 47%;
  }
}

@media only screen and (min-width: 1200px) {
  #project-list {
   grid-template-columns: 25% 25% 25% 25%; 
  }
}
 
