body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
    --white-color: #f4f4f4;
    --dark-color: #343434;
    --dark-color-muted: #474747;
    --grey-color: #f5f2ef;
    /* --primary-color: #eea489; */
    /* --primary-color-muted: #dbb5a2; */
    /* --secondary-color: #0d4d4f; */
    /* --main-font: 'Patua One', cursive; */
    /* --secondary-font: tahoma; */
}