/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

#about {
  font-family: "Roboto", sans-serif;
  color: b3b7a4;
  text-align: center;
}

p {
  text-align: center;
}
