@media only screen and (max-width: 500px) {
  .logo {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: "pink";
    margin-right: 50px;
  }

  #logoimage {
    height: 300px;
    width: 300px;
  }

  .button1 {
    border-radius: 0.2em;
    box-sizing: border-box;
    width: 45%;
    height: 40px;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    background: #b3b7a4;
    border: 0.1em solid #ffffff;
    transition: all 0.2s;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button:hover {
    color: #004aad;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    margin-top: -80px;
    margin-left: -20px;
    align-content: space-between;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 130px;
    width: 100%;
    margin-left: 50px;
    color: #004aad;
  }
}

@media only screen and (max-width: 800px) {
  .logo {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: "pink";
    margin-right: 10px;
  }

  #logoimage {
    height: 600px;
    width: 600px;
  }

  .button1 {
    border-radius: 0.2em;
    box-sizing: border-box;
    width: 45%;
    height: 80px;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    background: #b3b7a4;
    border: 0.1em solid #ffffff;
    transition: all 0.2s;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button:hover {
    color: #004aad;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -135px;
    margin-left: -20px;
    align-content: space-between;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
    margin-left: 120px;
    color: #004aad;
    font-size: 0.7cm;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: "pink";
    margin-right: 260px;
  }

  #logoimage {
    height: 800px;
    width: 800px;
  }

  .button1 {
    border-radius: 0.2em;
    box-sizing: border-box;
    width: 45%;
    height: 90px;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    background: #b3b7a4;
    border: 0.1em solid #ffffff;
    transition: all 0.2s;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1cm;
    margin-right: 11.5cm;
    margin-top: -0.1cm;
  }

  .button:hover {
    color: #004aad;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    margin-left: -20px;
    align-content: space-between;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 500px;
    width: 100%;
    margin-left: 60px;
    color: #004aad;
    font-size: 1cm;
  }
}
