.logo {
  display: flex;
  justify-content: center;
  flex: 1;
  /* margin-right: 50px; */
}

#logoimage {
  height: 450px;
  width: 450px;
}

.button1 {
  border-radius: 0.2em;
  box-sizing: border-box;
  width: 50%;
  max-width: 280px;
  height: 80px;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  background: #b3b7a4;
  border: 0.1em solid #ffffff;
  transition: all 0.2s;
  margin: 10px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.2rem;
}

.button:hover {
  color: #004aad;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  align-content: space-between;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  /* bottom: 1rem; */
  padding: 1rem;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  background-color: white;
  /* border: 1px solid red; */
  bottom: 0;
}

.footer a {
  width: auto;
}

.footer a:visited {
  color: #004aad;
}

@media only screen and (max-width: 1200px) {
  .logo {
    margin-top: -110px;
  }
  #logoimage {
    height: 600px;
    width: 600px;
  }

  .button1 {
    height: 80px;
    font-size: 1.8rem;
  }

  .buttons-wrapper {
    margin-top: -180px;
  }

  .footer {
    /* bottom: 1rem; */
    font-size: 0.7cm;
  }
}

@media only screen and (max-width: 900px) {
  .logo {
    margin-top: -70px;
  }

  #logoimage {
    height: 550px;
    width: 550px;
  }

  .button1 {
    height: 50px;
    font-size: 1.8rem;
  }

  .buttons-wrapper {
    margin-top: -180px;
  }

  .footer {
    font-size: 0.7cm;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    margin-top: -70px;
  }

  #logoimage {
    height: 400px;
    width: 400px;
  }

  .button1 {
    font-size: 1.3rem;
  }

  .buttons-wrapper {
    margin-top: -100px;
  }

  .footer {
    font-size: 0.7cm;
  }
}

@media only screen and (min-width: 900px) {
  .logo {
    margin-top: -70px;
  }

  #logoimage {
    height: 50%;
    width: 50%;
    max-width: 600px;
    max-height: 600px;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: -80px;
    justify-content: center;
    align-items: center;
    margin: 4px;
  }

  .button1 {
    font-size: 1.5rem;
    margin: 4px;
  }

  .buttons-wrapper {
    margin-top: -100px;
  }

  /* .footer {
    font-size: 0.7cm;
  } */
}

@media only screen and (max-height: 800px) {
  .logo {
    margin-top: -70px;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    max-height: 1000px;
  }
}
