#homepage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  /* left: 0; */
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  background-color: white;
}

.footer a {
  width: auto;
}

.footer a:visited {
  color: #004aad;
}


.buttons-wrapper {
  display: flex;
  flex-direction: row;
  /* padding-top: 10rem; */
  justify-content: space-around;
  /* width: 100%; */
  max-width: 100vw;
}


.button-home {
  border-radius: 0.5rem;
  height: 60px;
  font-size: 1.4rem;
  box-sizing: border-box;
  text-transform: uppercase;
  color: white;
  background: #b3b7a4;
  border: 0.1em solid #ffffff;
  transition: all 0.2s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0 0.8rem;
  min-width: 12rem;
}

.button:hover {
  color: #004aad;
  cursor: pointer;
}

#logoimage {
  max-width: 90%;
  height: auto;
}


@media only screen and (max-width: 500px) {

.button-home {
  font-size: 1rem;
  min-width: 10rem;
}

}


@media only screen and (max-width: 350px) {

  .button-home {
    font-size: 0.8rem;
    margin: 0.2rem;
    /* min-width: 10rem; */
  }

  .buttons-wrapper {
    flex-direction: column;

  }


}