
#Nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navbarcontainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
}


