@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

.c {
  text-align: center;
  display: block;
  position: relative;
  /* width: 80%;
  margin: 100px auto; */
  font-family: "Roboto", sans-serif;
}

div.c {
  color: #004aad;
}
._404 {
  font-size: 150px;
  position: relative;
  display: inline-block;
  z-index: 2;
  /* height: 190px; */
  letter-spacing: auto;
}
._1 {
  text-align: center;
  display: block;
  position: relative;
  letter-spacing: 1px;
  font-size: 2em;
  line-height: 80%;
  font-weight: bold;
}
._2 {
  text-align: center;
  display: block;
  position: relative;
  letter-spacing: auto;
  font-size: 2em;
  line-height: 80%;
  font-weight: bold;
}

.btn {
  border-radius: 0.2em;
  box-sizing: border-box;
  width: 50%;
  height: 80px;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  background: #b3b7a4;
  border: 0.1em solid #ffffff;
  transition: all 0.2s;
  margin: 10px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .c {
    width: 80%;
    margin: 100px auto;
  }
  ._404 {
    font-size: 150px;
    /* height: 190px; */
  }
  ._1 {
    font-size: 2em;
    line-height: 80%;
  }
  ._2 {
    font-size: 2em;
    line-height: 80%;
  }

  .btn {
    border-radius: 0.2em;
    width: 50%;
    height: 80px;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .c {
    width: 80%;
    margin: 100px auto;
  }
  ._404 {
    font-size: 150px;
    height: 170px;
  }
  ._1 {
    font-size: 2em;
    line-height: 80%;
  }
  ._2 {
    font-size: 2em;
    line-height: 80%;
  }
  .btn {
    border-radius: 0.2em;
    width: 50%;
    height: 80px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .c {
    width: 80%;
    margin: 100px auto;
  }
  ._404 {
    font-size: 80px;
    height: 130px;
  }
  ._1 {
    font-size: 1em;
    line-height: 80%;
  }
  ._2 {
    font-size: 1em;
    line-height: 180%;
  }
  .btn {
    border-radius: 0.2em;
    width: 50%;
    height: 80px;
    font-size: 1.2rem;
  }
}
